.btnContainer > div > button {
    /* border: 1px solid teal; */
    /* padding: 0 0.75rem; */
    width: 200px;
}
.catalogBtnHandler > button {
    /* border: 1px solid green; */
    display: flex;
    /* width: 14px; */
    height: 16px;
}